:root {
  --unit: 1px;
  --ref: calc(1 * var(--unit));
  --text-size: 30px;
  /*color scheme*/
  --primary-t: rgba(0, 0, 0, 0.5);
  --primary-light: rgb(183, 198, 214);
  --primary-dark: rgb(88, 88, 88);
  --primary-dark-t: rgba(0, 0, 0, 0.75);
  --text-light: white;
  --text-dark: white;
  --debug: #ccc;
  --primary: rgb(34,193,195);
  --primary-g: linear-gradient(0deg, rgba(34, 193, 195, 0.75) 0%, rgba(158, 253, 45, 0.75) 100%);
  --primary-g-o: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(158, 253, 45, 1) 100%);

}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-light);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  -webkit-user-select: none !important;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: unset;
  padding: 0px 0px;
  padding-bottom: calc(100 * var(--ref));
  background-color: var(--primary-t);
  z-index: 99;
  box-sizing: border-box;
  box-shadow: 0 0 7px 1px var(--primary-dark-t);
  box-shadow: 0 0 3px 0px #507738;
  background: var(--primary-g);
}

#menu-button {
	display: none;
}

.menu-button-label {
	display: block;
	position: absolute;
	width: 75px;
	height: 75px;
	background: red;
	z-index: 9999;
	top: 12.5px;
	right: 12.5px;
	background-image: url(./img/m1.svg);
	background-color: unset;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}

#menu-button:checked ~ .menu {
  height: 100%;
  background: var(--primary-g-o);
}

#menu-button:checked ~ .menu>ul {
  display: block;
}

#menu-button:checked ~ .menu-button-label {
  	background-image: url(./img/m2.svg);
}

.menu ul {
  display: none;
  position: fixed;
  width: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  font-size: 20px;
  word-wrap: none;
  word-break: none;
  font-size: 0;
  top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}

.menu ul>a {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  transition: background-color ease 75	0ms;
}

.menu ul>a:hover {
  background-color: var(--primary-t);
  background: var(--primary);
  background: var(--primary-g);
}

.menu li {
  position: relative;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: block;
  font-size: 20px;
}

.logo {
  position: absolute;
  width: 125px;
  height: 75px;
  top: 12.5px;
  left: 25px;
  background-image: url(https://1i3pbt15prlz304o152ki6ul-wpengine.netdna-ssl.com/wp-content/uploads/2015/03/logo-placeholder.jpg);
  background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.slideshow {
  z-index: 1;
  position: relative;
  top: 0px;
  width: 100%;
  height: 50vh;
  background-image: url(https://creativecommons.org/wp-content/uploads/2012/04/lpc_outside.png);
  background-size: cover;
  background-position: center;
}

.slideshow:first-of-type {
  height: 100vh;
}

.active {
  background-color: var(--primary-dark-t);
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,0.2444444330466562) 0%, rgba(158,253,45,0.222035469461222) 100%);
	background: var(--primary-g);
}

.button {
	width: 125px;
	height: 50px;
	border-radius: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	padding: 5px 10px;
		background-color: var(--primary-dark-t);
	  background: rgb(34,193,195);
	  background: var(--primary-g);
	  color: white;
	margin: 20px auto;

}

.sop {
	width: 100%;
	height: 50%;
	position: absolute;
	background-image: url(./img/sop.png);
	background-repeat: no-repeat;
	background-size: contain;
	image-rendering: pixelated;
}

.linux {
	width: 50%;
	height: 25%;
	position: absolute;
	background-image: url(./img/tux.png);
	background-repeat: no-repeat;
	background-size: contain;
	image-rendering: pixelated;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.a-container {
	width: 75%;
}

.a-container > div {
	margin: 10px 0px;
}

.half {
	position: relative;
	width: 50%;
	float: left;
	height: 100%;
	padding-bottom: 100%;
}

.info > div:not(.button) {
	white-space: nowrap;
	font-size: 30px;
	color: white;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

.menu {
	height: unset;
}

.menu-button-label {
	display: none;
}

.menu ul {
  position: absolute;
  width: auto;
  right: 0;
  left: unset;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  font-size: 20px;
  word-wrap: none;
  word-break: none;
  font-size: 0;
  display: block;
}

.menu ul>a {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  transition: background-color ease 75	0ms;
}

.sop {
	width: 100%;
	height: 50%;
	position: absolute;
	background-image: url(./img/sop.png);
	background-repeat: no-repeat;
	background-size: contain;
	image-rendering: pixelated;
}
}























